*{
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(134, 24, 46);
}

.titulo{
    text-align: center;
    font-size: 3.5em;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor{
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 500px 500px;
    gap: 1em;
    padding: 1em;
    align-content: center;
    justify-content: center;
}

.card{
    border: 2px solid #daa520;
}

.imagen{
    height: 350px;
}

.textos{
    text-align: center;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.boton{
    width: 100%;
    padding: 1em;
    color: white;
    background: #daa520;
    border: 0;
    text-transform: uppercase;
}


main{
    text-align: center;

}


    footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 25px;
    }
    
    footer a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black
    }

    footer .escudo {
        margin: 0;
        padding: 25px 30px;
        height: 150px;
    
    }
    
    footer a:hover{
        color: firebrick;
    }


    @media (min-width: 720px){
        header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    
    footer .container{
    flex-direction: row;
    justify-content: space-between;
    }
    
    footer nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    
    }

    .contenedor{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.imagen{
    max-width: 100%;
    width: 300px;
}


/* TAMAÑO ESCRITORIO */
@media (min-width: 700px) {
    body{
        padding: 0 4rem;
}
}