header{
    display: flex;
    justify-content: space-between;
    background-color: firebrick;
    align-items: center;
padding: 10px;
min-height: 70px;
}

.escudo{
    display: flex;
    justify-content: space-between;
height: 80px;
margin-right: 10px;
}

a{
color: goldenrod    ;   
padding-right: 20px; 
text-decoration: none;
font-weight: 700;

}

footer{
    display: flex;
    background-color: firebrick;
    justify-content: space-between;
    align-items: center;
padding: 10px;
}


a:hover{
    color: white;
}

.resultados {
    text-align: center;
} 

.festejo{
    height: 500px;
}
.hinchada{
    height: 500px;
}
.stefano{
    height: 500px;
}


.Bienvenidos {
    text-align: center;
}

header li{  
    text-align: center;
    margin-bottom: 0.5rem;
}

h1{
    color: goldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    background-color: aliceblue;
}


@media (max-width: 858px) {
header{
    flex-direction: column;
}

nav {
    padding: 10px 0px   ;
}

}

